.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
}
.header__nav {
    display: flex;
    margin-left: 20px;
}
