li {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333333;
    display: block;
    font-size: 18px;
    font-weight: bolder;
    padding: 18px 25px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}
a:hover {
    background-color: #e8f5fe;
    color: #6ac1ff;
    transition: color 0.1ms ease-out;
    border-bottom: 2px solid #6ac1ff;
}
